<div class="container-fluid">

  <footer class="mainfooter w-100" role="contentinfo">
    <div class="row">
        <div class="col-md-12 col-xl-12 col-lg-12 copy">
            <p class="text-center">&copy; Copyright 2020 - Cours Family.  All rights reserved.</p>
        </div>
    </div>
</footer>

</div>


