<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-info" href="#accueil">COURS FAMILY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="font-size: large;">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#accueil"><i style='font-size: 15px' class='fab text-white'>&#xf369;</i> Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#service"><i style='font-size: 15px' class='fas fa-atlas text-white'></i> Services</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#temoignage"><i style='font-size: 15px' class='fas fa-child text-white'></i> Temoignage</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#contact"><i style='font-size: 15px' class='fas fa-map-marker-alt text-white'></i> Contact</a>
        </li>
      
      </ul>
    </div>
  </nav>