<section id ="temoignage" style="background-color: rgb(247, 144, 144); margin-top: 150px; padding: 5px;">
    <div class="container mt-5">
        <div class="text-center col-12 col-md-12 col-lg-12  mt-2 mb-5">
            <h1 style="font-size:3.5vw; color: rgb(53, 51, 51);">Temoignages</h1>
            <h3>
                <i class='far fa-star text-warning' style='font-size:36px'></i> 
                <i class='far fa-star text-warning' style='font-size:36px'></i> 
                <i class='far fa-star text-warning' style='font-size:36px'></i>
            </h3>
            <h4>
                <i class='fab fa-cloudversify' style='font-size:24px'></i>
                <i class='fab fa-cloudversify' style='font-size:24px'></i>
                ils nous ont fait confiance 
                <i class='fab fa-cloudversify' style='font-size:24px'></i>
                <i class='fab fa-cloudversify' style='font-size:24px'></i>
            </h4>
        </div>
    
    
       <div class="row mb-5 d-flex justify-content-center">
      
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 m-3">
            <div class="card">
                <img style ="width: 200px; height: 200px;margin-left: auto; margin-right: auto; margin-top: 6px;" src="/public/image/khalifa.jpg" class="card-img-top rounded-circle" alt="khalifa">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <h5 class="text-center text-info">
                    <i class='fas fa-child' style='font-size:36px'></i>
                    <i class='fas fa-child' style='font-size:36px'></i>
                </h5>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-3 col-xl-3  m-3">
            <div class="card">
                <img style ="width: 200px; height: 200px;margin-left: auto; margin-right: auto; margin-top: 6px;" src="/public/image/khalifa.jpg" class="card-img-top rounded-circle" alt="khalifa">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <h5 class="text-center text-success">
                    <i class='fas fa-child' style='font-size:36px'></i>
                    <i class='fas fa-child' style='font-size:36px'></i>
                </h5>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-3 col-xl-3  m-3">
            <div class="card">
                <img style ="width: 200px; height: 200px;margin-left: auto; margin-right: auto; margin-top: 6px;" src="/public/image/khalifa.jpg" class="card-img-top rounded-circle" alt="khalifa">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <h5 class="text-center text-warning">
                    <i class='fas fa-child' style='font-size:36px'></i>
                    <i class='fas fa-child' style='font-size:36px'></i>
                </h5>
            </div>
      
        </div>

        <div class="col-sm-3">
      
        </div>

      </div>
    </div>

</section>
